* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(122, 114, 104);
  height: 80px;
}

footer {
  background-color: rgb(122, 114, 104);
}

.name {
  text-align: center;
  padding-top: 30px;
}

.button {
  text-align: center;
  padding: 20px;
}

li {
  list-style: none;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 20px;
}
